.autocomplete {
  position: relative;
  width: max-content;
  border: 1px solid #eee;
}

.autocomplete input {
  font-size: 20px;
}

.autocomplete-dropdown {
  border: 1px solid #eee;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

.autocomplete-dropdown button {
  font-size: 20px;
  width: 100%;
  border: 0;
  background-color: transparent;
  text-align: left;
}
