.autocomplete {
  position: relative;
  width: max-content;
  border: 1px solid #eee;
}

.autocomplete input {
  font-size: 20px;
}

.autocomplete-dropdown {
  border: 1px solid #eee;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 99;
}

.autocomplete-dropdown button {
  font-size: 20px;
  width: 100%;
  border: 0;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.autocomplete-dropdown button:hover {
  background-color: #333;
  color: #fff;
}

.autocomplete-dropdown button .matching-letters {
  font-weight: bold;
  color: #00d;
}

.autocomplete-dropdown button:hover .matching-letters {
  color: #ff0;
}
