.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

input {
  padding: 8px 8px 8px 8px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 1em;
}

input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  opacity: 1.0;
}

input {
  opacity: 0.5;
}

.form-button {
  background-color: #fc0;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  text-transform: uppercase;
  font-weight: bold;

  border: 0;
  border-radius: 3px;
  font-size: 0.7em;
}

.disabled {
  opacity: 0.5;
}

.mvform {
  border: 1px solid #ddd;
  padding: 8px;
}

.mvform .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  padding: 4px;
}

.mvform .form-button {
  margin-left: 8px;
}

.mvform .field-name {
  font-weight: bold;
}

.autocomplete {
  position: relative;
  width: max-content;
}

.autocomplete-dropdown {
  border: 1px solid #eee;
  position: absolute;
  background-color: #fff;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 99;
}

.autocomplete-dropdown button {
  font-size: 1em;
  width: 100%;
  border: 0;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.autocomplete-dropdown button:hover {
  background-color: #333;
  color: #fff;
}

.autocomplete-dropdown button .matching-letters {
  font-weight: bold;
  color: #00d;
}

.autocomplete-dropdown button:hover .matching-letters {
  color: #ff0;
}
